<form action="/recipes" method="POST">
	<h2>Add a Recipe</h2>
	Name<input type="text" name="name">
	Ingredients<input type="text" name="ingredients">
	Cook Time<input type="number" name="cook_time">
	<input type="submit">
</form>